# Configuración General
DEBUG=True
SECRET_KEY=your-super-secret-key
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
DB_PASSWORD=samr_postgres_password

# M1 - Solicitud
VITY_AI_API_KEY=your-vity-api-key

# M3 - Atención
WEBRTC_ICE_SERVERS=stun:stun.l.google.com:19302

# JWT Auth
# JWT_PRIVATE_KEY_PATH is injected via volume for auth-service only
JWT_PUBLIC_KEY_PATH=/keys/public.pem
